<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <svg width="60" height="60">
                    <image href="/static/imgs/userimg/{{ post.author.avatar }}" height="100%" width="100%"
                           preserveAspectRatio="xMidYMid slice"/>
                </svg>
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says:
            <br>
            {{ post.body }}
        </td>
        <td style="text-align: right;">
            {{ post.timestamp }}
        </td>
    </tr>
</table>
