{% extends "base.html" %}
{% block content %}
  <h1 style="color : blue">Привет - {{ current_user.username }}</h1>
    <div>
        <div id="about">
          <form action="" method="post" novalidate enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div id="avatar" style="border: 1px solid black; padding: 5px; margin-right: 15px; float:left; display:flex; flex-direction: column;align-items: flex-start;">
            <svg width="120" height="120" style="padding: 5px;">
              <image href="/static/imgs/userimg/{{ current_user.avatar }}" height="100%" width="100%" preserveAspectRatio="xMidYMid slice"/>
            </svg>
                {{ form.avatar }}<br>
                {% for error in form.avatar.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <p>{{ form.username }}</p>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <p>{{ form.about_me(cols="35", rows="5") }}</p>
                {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <p>{{ form.submit }}</p>
                <p>Последний раз онлайн: {{ current_user.last_seen }}</p>
            </div>
          </form>
        </div>
    </div>
{% endblock %}
